/* ****************************** */
/* BELOW 544PX (Phones) */
/* ****************************** */

@media (max-width: 34em) {
  h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .between {
    font-size: 1.1rem;
  }
  .btn {
    padding: 0.6rem 0.8rem;
    justify-content: center;
    align-items: center;
  }
  .check,
  .again {
    font-size: 1.5rem;
  }

  .guess {
    width: 12rem;
    height: 1.5rem;
    font-size: 2rem;
    padding: 2rem;
  }
  p {
    font-size: 1rem;
  }
  .number {
    padding: 1rem;
    width: 8rem;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
  }
}

